#mastheader {
    background-color: white
}

#slidebox {
    background-color: black;
}

#fwidgets {
    background-color: #ee564a;
}

#content {
    background-color: white;
}

#bottom {
    background-color: #3B3B3B;
}

#colophon {
    background-color: #292929;  
}